*{
    margin: 0;
    padding: 0;
}

.nav-bar{
    background-color: goldenrod;
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
    
}
.link{
    text-decoration: none;
    border: 2px black solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 3px;
    border-radius: 40px;
    color: black;

}

.link:hover{
    background-color: black;
    color: goldenrod;
    transition-duration: 0.5s;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr
}

.series{
    border: solid goldenrod;
    background-color: black;
}

.tokyo-rev{
    display: grid;
    justify-content: center;
    color: goldenrod;
}

.tokyo-rev-text{
    margin-top: 50px;
    display: grid;
   align-items: center;
   justify-content: center;
   color: goldenrod;
}

.toman{
    border: solid goldenrod;
    background-color: black;
}

.title{
    display: grid;
    justify-content: center;
    color: goldenrod;
}

.toman-text{
    margin-top: 50px;
    display: grid;
   align-items: center;
   justify-content: center;
   color: goldenrod;
}

.tenjiku{
   
    background-color: black;
}

.tenjiku-arc{
    display: grid;
    justify-content: center;
    color: goldenrod;
}

.tenjiku-text{
    margin-top: 50px;
    display: grid;
   align-items: center;
   justify-content: center;
   color: goldenrod;
}

.footer{
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    border: solid;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: goldenrod;

    
}