*{
    margin: 0px;
    padding: 0px;

}



.nav-bar{
    background-color: goldenrod;
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
    
}
.link{
    text-decoration: none;
    border: 2px black solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 3px;
    border-radius: 40px;
    color: black;

}

.link:hover{
    background-color: black;
    color: goldenrod;
    transition-duration: 0.5s;
}

.tokyo-rev{
display: grid;
grid-template-columns: 1fr 1fr;

justify-content: center;
text-align: center;
}
.picture{
    height: 100%;
    width: 100%;
}
.text-home{
display: grid;
align-items: center;
background-color: black;
color: goldenrod;
padding-bottom: 100px;
height: 100vh;
}

.footer{
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    border: solid;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: goldenrod;

    
}

@media(max-width:426px){

    *{
        font-size: 15px;
    }

    .nav-bar{
        font-size: 12px;
    }
    .footer{
        font-size: 12px;
    }
}